Chc/Service References/BookingService/BookingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChcObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChcObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierID" type="xs:int" />
      <xs:element minOccurs="0" name="ContainerID" type="xs:int" />
      <xs:element minOccurs="0" name="ContractNumber" type="xs:int" />
      <xs:element minOccurs="0" name="DisposalLocationID" type="xs:int" />
      <xs:element minOccurs="0" name="EWC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsRecurring" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ScheduleDay" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduleFrequencyID" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="SiteID" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="ArrayOfContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Container" nillable="true" type="tns:Container" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainer" nillable="true" type="tns:ArrayOfContainer" />
  <xs:complexType name="Container">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContainerID" type="xs:int" />
      <xs:element minOccurs="0" name="ContainerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Container" nillable="true" type="tns:Container" />
  <xs:complexType name="ArrayOfCarrier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carrier" nillable="true" type="tns:Carrier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrier" nillable="true" type="tns:ArrayOfCarrier" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierID" type="xs:int" />
      <xs:element minOccurs="0" name="CarrierName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="ArrayOfScheduleFrequency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleFrequency" nillable="true" type="tns:ScheduleFrequency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleFrequency" nillable="true" type="tns:ArrayOfScheduleFrequency" />
  <xs:complexType name="ScheduleFrequency">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrequencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleFrequencyID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleFrequency" nillable="true" type="tns:ScheduleFrequency" />
  <xs:complexType name="ArrayOfDisposalLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisposalLocation" nillable="true" type="tns:DisposalLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisposalLocation" nillable="true" type="tns:ArrayOfDisposalLocation" />
  <xs:complexType name="DisposalLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisposalLocationID" type="xs:int" />
      <xs:element minOccurs="0" name="DisposalLocationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisposalLocation" nillable="true" type="tns:DisposalLocation" />
  <xs:complexType name="ArrayOfEWC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EWC" nillable="true" type="tns:EWC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEWC" nillable="true" type="tns:ArrayOfEWC" />
  <xs:complexType name="EWC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chapter" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EWCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHazardous" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubChapter" type="xs:int" />
      <xs:element minOccurs="0" name="WasteType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EWC" nillable="true" type="tns:EWC" />
</xs:schema>