Chc/Service References/UserService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ChcObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidateUserByUsernameAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserByUsernameAndPassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidateUserByUsernameAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserByUsernameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserList" message="tns:IUserService_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserListResponse" message="tns:IUserService_GetUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUserByUsernameAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ValidateUserByUsernameAndPassword" message="tns:IUserService_ValidateUserByUsernameAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ValidateUserByUsernameAndPasswordResponse" message="tns:IUserService_ValidateUserByUsernameAndPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserByUsernameAndPassword">
      <soap:operation soapAction="http://tempuri.org/IUserService/ValidateUserByUsernameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ChcWCF/UserService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>