Chc/Service References/SiteService/SiteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64387/SiteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChcObjects" />
  <xs:element name="GetSICLookups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSICLookupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChcObjects" minOccurs="0" name="GetSICLookupsResult" nillable="true" type="q1:ArrayOfSICLookup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSICById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSICByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChcObjects" minOccurs="0" name="GetSICByIdResult" nillable="true" type="q2:SICLookup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChcObjects" minOccurs="0" name="GetSitesResult" nillable="true" type="q3:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChcObjects" minOccurs="0" name="GetSiteByIdResult" nillable="true" type="q4:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChcObjects" minOccurs="0" name="site" nillable="true" type="q5:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChcObjects" minOccurs="0" name="CreateSiteResult" nillable="true" type="q6:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ChcObjects" minOccurs="0" name="site" nillable="true" type="q7:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChcObjects" minOccurs="0" name="UpdateSiteResult" nillable="true" type="q8:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>